
.panel-info
  .panel-heading
    Edit To-Do
  .form-group
    %br
    = f.label :task
    = f.text_field :task, class: "form-control"
    %br
    = f.label :description
    = f.text_field :description, class: "form-control"
    %br
    = f.label :due_date
    = f.date_select :due_date, class: "form-control"
    %br
    
    - if @to_do.present?
      %br 
      = f.label "Completed?"
      %br
      = f.radio_button :completed, @to_do.completed
      Yes
      = f.radio_button :completed, !@to_do.completed
      No
      %br
      %br
    = f.label "Assign this task to:"
    %br
    = f.select :assignee_id, Assignee.all.collect {|d| [d.name, d.id] }