.row
  .col-lg-6.col-md-6.col-sm-6
    %h1.title To-Dos

.row
  -unless @to_dos.nil?
    - @to_dos.each do |to_do|
      .col-lg-4.col-md-4.col-sm-4
        .panel.panel-danger
          .panel-heading
            %h4.title= link_to to_do.task, "/to_dos/#{to_do.id}", class: "title_link"
          %br
          .panel-body
            -if to_do.assignee.present?
              = to_do.assignee.name
            %br
            = to_do.description
            %br
            = "Due date:"
            = to_do.due_date
            %br
          .panel-footer
            = "Completed?"
            - if to_do.completed
              %span.glyphicon.glyphicon-ok.adjust_glyph_position
            - else
              %span.glyphicon.glyphicon-remove.adjust_glyph_position
          
  -else
    "There are no locations in the database."