.col-lg8.col-md-8.col-sm-8.col-sm-offset-2.col-md-offset-2.col-lg-offset-2
  .panel.panel-default.custom_panel.centered
    
    = @to_do.task
    %br
    = @to_do.description
    %br
    = @to_do.due_date
    %br
    = @to_do.completed
    %br
    %p= link_to "Edit", edit_to_do_path, class: "btn btn-primary form-control"


    / %p= link_to "Download Image", download_item_image_item_path, class: "btn btn-primary form-control"
  