.row
  .col-lg-6.col-md-6.col-sm-6
    %h1.title All Assignees
   

.row
  -unless @assignees.empty?
    - @assignees.each do |assignee|
      .col-lg-4.col-md-4.col-sm-4
        .panel.panel-info
          .panel-heading
            %h4.title= link_to "#{assignee.name}'s To Do List", "assignees/#{assignee.id}", class: "Name"
          %br
          %ul
            -assignee.to_dos.each do |task|
              = task.task
              = link_to "Completed?", change_completed_duplicate_to_do_path(task), method: "patch"
              - if task.completed
                %span.glyphicon.glyphicon-ok.adjust_glyph_position
              - else
                %span.glyphicon.glyphicon-remove.adjust_glyph_position
              %br
  -else
    "There are no assignees in the database."


