.col-lg8.col-md-8.col-sm-8.col-sm-offset-2.col-md-offset-2.col-lg-offset-2
.panel.panel-info
  .panel-heading= @assignee.name
  .panel-body
    Contact:
    = @assignee.email
    %br
    %br
    %p 
      %b Tasks
      %br
      - @assignee.to_dos.each do |task|
        = task.task
        = link_to "Completed?", change_completed_three_to_do_path(task), method: "patch"
        - if task.completed
          %span.glyphicon.glyphicon-ok.adjust_glyph_position
        - else
          %span.glyphicon.glyphicon-remove.adjust_glyph_position
        %br
    %p= link_to "Edit", edit_assignee_path, class: "btn btn-primary form-control"



